<div class="reset-password-container">
  <div class="logo">
    <img src="path/to/logo.png" alt="Hive Creator Logo">
  </div>
  <div class="reset-password-box">
    <h2>Redefinição de senha</h2>
    <p>Digite o seu e-mail no campo abaixo e lhe enviaremos uma nova senha</p>
    <form>
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" placeholder="E-mail" [(ngModel)]="email" required>
      <button (click)="forgotPassword()" type="button">Redefinir senha</button>
    </form>
    <p class="login-link">Já possui cadastro? <a href="/login">Faça seu login.</a></p>
  </div>
</div> 