<div class="modal-backdrop" (click)="close()"></div>
<div class="modal-content">
  <div class="modal-header">
    <img src="assets/hive-logo.svg" alt="Logo" class="modal-logo">
  </div>
  <div class="modal-body">
    <h2>Informe o objetivo da campanha</h2>
    <form>
      <label *ngFor="let objective of objectives" class="modal-option">
        <input
          type="radio"
          name="objective"
          [value]="objective.id"
          [(ngModel)]="selectedObjective"
        />
        <span [innerHTML]="objective.name + ': ' + (objective.description || '')"></span>

      </label>
      <label for="">Descrição do(s) produto(s)</label>
      <textarea rows="4" placeholder="Digite a descrição do(s) produto(s)"></textarea>
    </form>
    <div class="modal-actions">
      <button class="btn-secondary" type="button" (click)="close()">Anterior</button>
      <button class="btn-primary" type="button"  (click)="openCreateCampaignModal()">Continuar</button>
    </div>
  </div>
</div> 

<!-- <app-create-campaign-modal
  *ngIf="showCreateCampaignModal"
  (closeModal)="closeCreateCampaignModal()">
</app-create-campaign-modal> -->