<div class="home-content">
    <div class="image-container">
        <img src="assets/marketingFuture.png" alt="">
    </div>

    <div class="text-container">
        <h3>Crie vídeos e campanhas com inteligência de </h3>
        <h3>performance. Sem complicação, direto ao ponto.</h3>

        <div class="button-container">
            <button id="saiba-mais">Saiba mais</button>
            <button id="demonstracao">Demonstração</button>
        </div>
    </div>

    <div class="notebook-container">
        <img src="assets/notebook.png" alt="">

    </div>

    <div class="hive-action">
        <h1>Veja o Hive Creator em ação </h1>
        <span>Automatize seu marketing com apenas alguns cliques. Acompanhe seus resultados em tempo real e otimize campanhas com facilidade.</span>
    </div>
</div>