<div class="navbar-home">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo">
    </div>
    <div class="nav-links">
        <ul>
            <li><a routerLink="/home">Sobre</a></li>
            <li><a routerLink="/dashboard">Funcionalidades</a></li>
            <li><a routerLink="/profile">Planos</a></li>
        </ul>
    </div>
    <div class="auth-buttons">
        <button id="login-button">Entrar</button>
        <button id="signup-button">Cadastrar</button>
    </div>

</div>